# Dependencies
node_modules
.pnp
.pnp.js
__pycache__

# Production build artifacts
dist
build
.vite
out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Docker / DB data
data/
.worktrees

# Example datafiles. Large and unsure of specific rights to each file so ignoring all of them until they can be verified.
docs/schema/examples
